.lab-4 .three-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-buttons button {
    width: 150px;
    height: 45px;
    font-size: 22px;
    margin: 0 20px;
}

.three-buttons .buttonchoosen{
    background-color: orange;
    color: white;
}

.lab-4 .requirement-view {
    display: block;
    margin: 20px 0;

    /* display: none; */

}

.lab-4 .design-view {
    margin: 40px 0 20px;
    background-color: dimgray;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* display: none; */
}

.lab-4 .design-view .img-giay {
    width: 500px;
    height: 400px;

}

.lab-4 .design-view .img-figma {
    width: 500px;
    height: 400px;
}

.design-view img {
    max-width: 100%;
    max-height: 100%;
}

.lab-4 .implement-view {
    padding: 20px;
    margin: 40px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;

    /* display: none; */
}

.lab-4 .implement-view .title {
    padding: 20px;
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;

}

.lab-4 .implement-view .dien-thong-tin {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dien-thong-tin .left {
    display: flex;
    flex-direction: column;
}

.dien-thong-tin .right {
    display: flex;
    flex-direction: column;

}

.dien-thong-tin input {
    padding: 15px;
    width: 80%;
    margin: 10px 0;
    border-radius: 15px;
    border: 1px solid black;
}

.dien-thong-tin select {
    border: 1px solid black;
    padding: 15px;
    width: 80%;
    margin: 10px 0;
    border-radius: 15px;
}

.right .thanh-lap {
    display: flex;
    flex-direction: column;
}

.right .address{
    height: auto;
}

.dien-thong-tin .button-add {
    display: flex;

}

.button-add .float-right {
    float: right;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-add button{
    width: 130px;
    height: 50px;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background-color: rgb(0, 252, 0);
    color: white;;
}

.dien-thong-tin .input-tim-kiem{
    display: flex;
}

.input-tim-kiem input{
    height: 50px;
    margin: 20px 0;
    font-size: 20px;
    text-align: center;
}

.list-school{
    display: flex;
    flex-direction: column;

}

.list-school .tieu-de{
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 1fr 0.75fr 2fr 1fr;
    text-align: center;
    padding: 10px 0;
    
}

.list-school .tieu-de p{
    font-size: 18px;
    font-weight: bolder;
}

.list-school ul{
    display: flex;
    flex-direction: column; 
    padding: 0;
}

.list-school .school{
    display: grid;
    grid-template-columns: 0.75fr 0.75fr 0.75fr 1fr 0.75fr 2fr 1fr;
    padding: 10px 0;
    border-top: 1px solid black ;
}

.school .edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.school .edit-delete button{
    width: 60px;
    height: 30px;
    padding:0  10px;
    margin: 5px;
    border: none;
}

.school .edit-delete .edit{
    background-color: blue;
    color: white;
}

.school .edit-delete .delete{
    background-color: red;
    color: white;
}

.list-school .center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.list-school .center p{
    text-align: center;
    margin: 0;
}





/* .ul-school li{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr 1fr 1fr;
    padding: 10px 0;
    border-top: 1px solid black ;
}
.ul-school li .edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-school li .edit-delete button{
    width: 60px;
    height: 30px;
    padding:0  10px;
    margin: 5px;
    border: none;
}

.ul-school li .edit-delete .edit{
    background-color: blue;
    color: white;
}

.ul-school li .edit-delete .delete{
    background-color: red;
    color: white;
}

.ul-school .center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ul-school .center p{
    text-align: center;
    margin: 0;
} */
